*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.prew{
    width: 270px;
    height: 200px;
}
.new1{
    background: url("../pages/works/pr5/img/friends.jpg");
    background-size: cover;
}
.new2{
    background: url("../pages/works/pr5/img/budzhet.jpg");
    background-size: cover;
}
.new3{
    background: url("../pages/works/pr5/img/Uspeh.jpg");
    background-size: cover;
}
body{
    background-color: lightcyan;
}
h1{
    font-size: 24px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 18px;
}
ul li{
    display: inline-block;
}
ul{
    background-color: aquamarine;
}
li{
    padding: 10px;
}
.content{
    display: flex;
}
main{
    width: 70%;
}
aside{
    width: 30%;
}
.prew4{
    background: url("../pages/works/pr5/img/strong.jpg");
    width: 300px;
    height: 250px;
    background-size: cover;
}
.prew5{
    background: url("../pages/works/pr5/img/clever.jpg");
    width: 300px;
    height: 250px;
    background-size: cover;
}
.prew6{
    background: url("../pages/works/pr5/img/kind.jfif");
    width: 300px;
    height: 300px;
    background-size: cover;
}
