.line li{
    display: inline-block;
    background-color: pink;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 17px;
    margin-right: 35px;
}
.links a{
    display: block;
    background-color: blue;
    text-decoration: none;
    color: white;
    margin: 8px;
    padding: 8px;
    margin-right: 90%;
}
.blocks div{
    display: inline;
    background-color: red;
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 17px;
    margin-right: 35px;
}
.blocks{
    margin: 35px;
}
.blocks .none{
    display: none;
}
.links-markers a{
    display: list-item;
    background-color: black;
    color: white;
    margin-right: 91%;
    padding-top: 10px;
    padding-left: 8px;
}
.post1 .image{
    background-image: url("./img/weather-sun.jpg");
    background-size: cover;
    width: 85px;
    height: 70px;
    float: left;
    margin-right: 15px;
    border: 3px;
    border-style: dashed;
    border-color: brown;
}
.post1{
    background-color: brown;
    color: white;
}
.post2 .image{
    background-image: url("./img/weather-sun.jpg");
    background-size: cover;
    width: 85px;
    height: 70px;
    float: right;
    border: 3px;
    border-style: dashed;
    border-color: brown;
}
.post2{
    background-color: brown;
    color: white;
}
