@font-face {
    font-family: Alumni Sans;
    src: url(font/AlumniSans-VariableFont_wght.ttf);
}
.wrapper {
    display: grid; 
    gap: 10px; 
    grid-template-columns:  auto auto auto; 
    grid-template-rows: auto auto auto; 
    grid-auto-flow: row; 
    width: 1320px; 
    height: 733px;
}
.img1 {
    grid-row: span 2; 
    background: url(img/1.png);
    background-size: cover;
    width: 489px;
    height: 612px;
}
.img2{
    background: url(img/2.png);
    background-size: cover;
    width: 399px;
    height: 301px;
}
.img3{
    background: url(img/3.png);
    background-size: cover;
    width: 405px;
    height: 301px;
}
.img4{
    background: url(img/4.png);
    background-size: cover;
    width: 398px;
    height: 294px;
}
.img5{
    background: url(img/5.png);
    background-size: cover;
    width: 405px;
    height: 293px;
}
.img6{
    grid-column: span 3;
    width: 1312px;
    height: 111px;
    font-size: 24px;
    font-family: 'Alumni Sans', Arial, sans-serif;
}
.img6 p{
    margin: 0;
}
